
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@border-color: orange;
@border-bottom-color: #ccc;
@border-size: 5px;

#page {
  max-width: 80%;
  margin: auto;
}

.container {
  margin: 20px;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
}

.body {
  position: relative;
  padding: 10px;
  width: 80%;
  background: #444;
  border-top: @border-size solid @border-color;
  border-bottom: 2px solid @border-bottom-color;
  color: white;
  font-family: georgia;
  font-size: 14px;
  line-height: 1.5;
  box-shadow: inset 0 0 @border-size #333;
}

.upArrow {
  position: absolute;
  top: @border-size;
  left: 80%;
  margin-left: -@border-size;
  width: 0;
  height: 0;
  border-left: @border-size solid transparent;
  border-right: @border-size solid transparent;
  border-top: @border-size solid @border-color;
}
