#page {
  max-width: 80%;
  margin: auto;
}
.container1 {
  margin: 20px;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
}
.mainabout {
  position: relative;
  padding: 10px;
  width: 80%;
  background: #444;
  border-top: 5px solid orange;
  border-bottom: 2px solid #cccccc;
  color: white;
  font-family: georgia;
  font-size: 14px;
  line-height: 1.5;
  box-shadow: inset 0 0 5px #333333;
}
.upArrow {
  position: absolute;
  top: 5px;
  left: 80%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid orange;
}
